._activityStackFadeTop_1n95f_1 {
  -webkit-mask-image: linear-gradient(#0000, #000 24px 100%);
  mask-image: linear-gradient(#0000, #000 24px 100%);
}
._activityStackFadeBottom_1n95f_11 {
  -webkit-mask-image: linear-gradient(0deg, #0000, #000 24px 100%);
  mask-image: linear-gradient(0deg, #0000, #000 24px 100%);
}
._activityStackFadeBoth_1n95f_21 {
  -webkit-mask-image: linear-gradient(
    #0000,
    #000 24px calc(100% - 24px),
    #0000
  );
  mask-image: linear-gradient(#0000, #000 24px calc(100% - 24px), #0000);
}
._activityPill_1n95f_38 {
  --activity-pill-control-size: 28px;
  --activity-pill-control-gap: 10.25px;
  --activity-pill-edge-inset: 13px;
  --activity-pill-status-inline-padding: 1.5px;
  --activity-pill-status-width: calc(
    var(--activity-pill-control-size) +
      var(--activity-pill-status-inline-padding) +
      var(--activity-pill-status-inline-padding)
  );
  --activity-pill-control-right-inset: calc(
    var(--activity-pill-edge-inset) + var(--activity-pill-status-inline-padding)
  );
  --activity-pill-content-padding-right: calc(
    var(--activity-pill-edge-inset) + var(--activity-pill-status-width) + 14px
  );
  --activity-pill-fade-transparent-inset: calc(
    var(--activity-pill-control-right-inset) +
      var(--activity-pill-control-size) + var(--activity-pill-control-gap) +
      var(--activity-pill-control-size) + 4px
  );
  --activity-pill-fade-opaque-inset: calc(
    var(--activity-pill-fade-transparent-inset) +
      var(--activity-pill-control-size) + var(--activity-pill-control-size)
  );
}
._activityPillWaitingRequest_1n95f_65,
._activityPillLoading_1n95f_66 {
  --activity-pill-content-padding-right: var(--activity-pill-edge-inset);
}
._activityPillSingleControl_1n95f_70 {
  --activity-pill-fade-transparent-inset: calc(
    var(--activity-pill-control-right-inset) +
      var(--activity-pill-control-size) + 4px
  );
}
._activityPillContentFade_1n95f_77
  [data-avatar-overlay-overflow-content="true"] {
  -webkit-mask-image: linear-gradient(
    to right,
    black,
    black calc(100% - var(--activity-pill-fade-opaque-inset)),
    transparent calc(100% - var(--activity-pill-fade-transparent-inset))
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: calc(100% + var(--activity-pill-content-padding-right))
    100%;
  -webkit-mask-image: linear-gradient(
    to right,
    black,
    black calc(100% - var(--activity-pill-fade-opaque-inset)),
    transparent calc(100% - var(--activity-pill-fade-transparent-inset))
  );
  mask-image: linear-gradient(
    to right,
    black,
    black calc(100% - var(--activity-pill-fade-opaque-inset)),
    transparent calc(100% - var(--activity-pill-fade-transparent-inset))
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: calc(100% + var(--activity-pill-content-padding-right))
    100%;
  mask-size: calc(100% + var(--activity-pill-content-padding-right)) 100%;
}
