._scene_1ga58_1 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
._layer_1ga58_8 {
  display: contents;
}
._card_1ga58_12 {
  transform-origin: 8px 8px;
  border-radius: 8px;
  width: 136px;
  height: 92px;
  position: absolute;
  left: calc(50% - 68px);
  overflow: hidden;
}
._cardTop_1ga58_22 {
  z-index: 1;
  top: 55px;
}
._cardMiddle_1ga58_27 {
  z-index: 3;
  top: 104px;
}
._cardBottom_1ga58_32 {
  z-index: 5;
  top: 153px;
}
._cardTexture_1ga58_37 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
._pocket_1ga58_45 {
  pointer-events: none;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  width: 164px;
  position: absolute;
  left: calc(50% - 82px);
}
._pocket_1ga58_45:before {
  background: var(--color-token-border-light);
  content: "";
  width: 164px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
._pocketTop_1ga58_64 {
  z-index: 2;
  height: 49px;
  top: 87px;
}
._pocketMiddle_1ga58_70 {
  z-index: 4;
  height: 49px;
  top: 136px;
}
._pocketBottom_1ga58_76 {
  z-index: 6;
  height: 70px;
  top: 185px;
}
